@model IEnumerable<ZespolRProject.Models.Answer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.a_body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a_score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a_is_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.q_head)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.a_body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a_score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a_is_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.q_head)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.a_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.a_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.a_id })
        </td>
    </tr>
}

</table>
