@model IEnumerable<ZespolRProject.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.q_head)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.q_body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.q_is_neg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.q_max_score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.q_answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.q_comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionType.qt_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestVersion.tv_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.q_head)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.q_body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.q_is_neg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.q_max_score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.q_answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.q_comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionType.qt_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestVersion.tv_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.q_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.q_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.q_id })
        </td>
    </tr>
}

</table>
