@model ZespolRProject.Models.QuestionCollection

@{
    /**/

    ViewBag.Title = "TestTake";
}

<style>
    body {
        background-image: url("http://365psd.ru/images/backgrounds/bg-light-4837.png");
        background-color: #cccccc;
    }
    /*background: rgba(150, 68, 207, 0.44) url(C:\Users\Влад\Desktop\1.jpg); /* Цвет фона и путь к файлу */ */
    /*color: #fff; /* Цвет текста */

</style>

<style>
    .jumbotron {
        background-image: url("http://365psd.ru/images/backgrounds/bg-lightl-889.jpg");
    }
</style>

<div class="jumbotron">

    <div class="container">
        <div class="col-md-4">
            <h4>Username</h4>
            <h4>Status-Candidate</h4>
        </div>
        <div class="col-md-offset-5">
            <h3>Test search</h3>
        </div>


    </div>

    <h1> </h1>
    <div class="row">
        <div class="col-sm-12">
            <input id="email" type="text" class="form-control" style="width: 100% !important; max-width: initial;" name="email" placeholder="Test name ">

        </div>


    </div>


</div>

<div class="jumbotron">

    <div class="col-md-6">
        <p><a href="~/Kandydat/Candidate1" class="btn btn-primary btn-lg btn-block">Added Tests </a></p>
    </div>

    <div class="col-md-6">
        <p><a href="~/Kandydat/Candidate2" class="btn btn-primary btn-lg btn-block">My Marks</a></p>
    </div>
    <h1> </h1>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.testID)
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().q_answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().q_body)
            </th>*@
          
            @*<th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().TestVersion.tv_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().TestVersion.tv_id)
            </th>*@
            <th></th>
        </tr>

        @for (int i = 0; i < Model.Models.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Models[i].q_head)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Models[i].q_body)
                </td>
               
                <td>
                    @Html.HiddenFor(modelItem => modelItem.Models[i].q_id)
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Models[i].q_comment, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
        }
    </table>

    <div class="form-group">
        <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                
                    <input type="submit" value="End Test" class="btn btn-default" />
                
            </div>
            </div>
        </div>
            }

