@model ZespolRProject.Models.QuestionCollection

@{
                /**/

                ViewBag.Title = "TestTake";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.testID)
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().q_answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().q_body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().q_is_neg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().q_max_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().q_answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().q_comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().QuestionType.qt_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().TestVersion.tv_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Models.FirstOrDefault().TestVersion.tv_id)
            </th>
            <th></th>
        </tr>

        @for (int i = 0; i < Model.Models.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Models[i].q_head)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Models[i].q_body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Models[i].q_is_neg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Models[i].q_max_score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Models[i].q_answer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Models[i].q_comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Models[i].QuestionType.qt_name)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => modelItem.Models[i].q_id)
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Models[i].q_comment, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
        }
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

