@model ZespolRProject.Models.Users

@{
    /**/

    ViewBag.Title = "Edit";
}


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    body {
        background-image: url("http://365psd.ru/images/backgrounds/bg-lightl-889.jpg");
        background-color: #cccccc;
        position: relative;
    }
    /*background: rgba(150, 68, 207, 0.44) url(C:\Users\Влад\Desktop\1.jpg); /* Цвет фона и путь к файлу */ */
    /*color: #fff; /* Цвет текста */
    ul.nav-pills {
        top: 20px;
        position: fixed;
    }

    div.col-sm-9 div {
        height: 250px;
        font-size: 28px;
    }

    #section1 {
        color: #fff;
        background-color: #1d7ae5;
    }

    #section2 {
        color: #fff;
        background-color: #1d7ae5;
    }

    #section3 {
        color: #fff;
        background-color: #1d7ae5;
    }
</style>

<style>
    .jumbotron {
        background-image: url("https://i.imgur.com/6E0HH40.jpg");
    }
</style>

<div class="jumbotron">

    <div class="container">
        <div class="col-md-4">
            <h4>Username @System.Web.HttpContext.Current.User.Identity.Name</h4>
            <h4>Status-Moderator</h4>
        </div>
        <div class="col-md-offset-5">
            <h3>Test search</h3>
        </div>
    </div>
    <h1> </h1>
    <div class="row">
        <div class="col-sm-12">
            <input id="email" type="text" class="form-control" style="width: 100% !important; max-width: initial;" name="email" placeholder="Test name ">

        </div>


    </div>


</div>

<div class="jumbotron">

    <div class="col-md-4">
        <p><a href="~/Moderator/Index" class="btn btn-primary btn-lg btn-block">Managing redactors</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="~/Moderator/Requests" class="btn btn-primary btn-lg btn-block">Redactor requests</a></p>
    </div>
    <div class="col-md-4">
        <p><a href='@Url.Action("Position", "Moderator")' class="btn btn-primary btn-lg btn-block">Managing positions</a></p>
    </div>
    <h1> </h1>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-6">
            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.user_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.user_id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>

        <div class="col-sm-6">
            <div class="form-horizontal">

                <hr />






                <div class="form-group">
                    @Html.LabelFor(model => model.isActivated, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.isActivated, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.isActivated, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-5 ">

                        </div>

                      
                        <div class="col-sm-5 ">
                            <input type="submit" value="Save changes" class="btn btn-default" />
                        </div>
                    </div>
                            @*<div class="col-sm-3  ">
            <input type="submit" value="Delete" class="btn btn-default" />
            @*<p><a href="~/Moderator/Delete" class="btn btn-danger btn-lg btn-block">Delete redactor</a></p>*@
                            @*<input type="submit" value="Delete redactor" class="btn btn-danger" />*@

                        </div>
                    </div>
                </div>
            </div>
       
  

}
 

    <div>
        @Html.ActionLink("Back to List", "Requests")
    </div>
