@model ZespolRProject.Models.Editor_Test

@{
    ViewBag.Title = "Managing redactors";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body { background-image: url("http://365psd.ru/images/backgrounds/bg-lightl-889.jpg"); background-color: #cccccc; position: relative; }
    /*background: rgba(150, 68, 207, 0.44) url(C:\Users\Влад\Desktop\1.jpg); /* Цвет фона и путь к файлу */ */
    /*color: #fff; /* Цвет текста */
    ul.nav-pills {
        top: 20px;
        position: fixed;
    }

    div.col-sm-3 div {
        height: 250px;
        font-size: 20px;
    }

    div.col-sm-6 div {
        height: 250px;
        font-size: 20px;
    }

    #section1 {
        color: #fff;
        background-color: #1d7ae5;
    }

    #section2 {
        color: #fff;
        background-color: #1d7ae5;
    }

    #section3 {
        color: #fff;
        background-color: #1d7ae5;
    }
</style>

<style>
    .jumbotron {
        background-image: url("https://i.imgur.com/6E0HH40.jpg");
    }
</style>

<div class="jumbotron">

    <div class="container">
        <div class="col-md-4">
            <h4>Username @System.Web.HttpContext.Current.User.Identity.Name</h4>
            <h4>Status-Moderator</h4>
        </div>
        <div class="col-md-offset-5">
            <h3>Test search</h3>
        </div>
    </div>
    <h1> </h1>
    <div class="row">
        <div class="col-sm-12">
            <input id="email" type="text" class="form-control" style="width: 100% !important; max-width: initial;" name="email" placeholder="Test name ">

        </div>


    </div>


</div>

<div class="jumbotron">

    <div class="col-md-4">
        <p><a href="~/Moderator/Index" class="btn btn-primary btn-lg btn-block">Managing redactors</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="~/Moderator/Requests" class="btn btn-primary btn-lg btn-block">Redactor requests</a></p>
    </div>

    <div class="col-md-4">
        <p><a href='@Url.Action("Position", "Moderator")' class="btn btn-primary btn-lg btn-block">Managing positions</a></p>
    </div>

    <h1> </h1>

</div>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

    <div class="container">
        <div class="row">
            @*<nav class="col-sm-3" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked">
                @foreach (var item in Model.Editors.Models)
                {
                    <li><a href="#section1">@Html.DisplayFor(modelItem => item.ed_name)</a></li>

                }
            </ul>

            <div class="col-sm-12">
                <input id="email" type="text" class="form-control" style="width: 100% !important; max-width: initial;" name="email" placeholder="write for quick search">

            </div>
        </nav>*@
            @*<div class="col-sm-3">

            @foreach (var item in Model.Editors.Models)
            {

                <div id="section1">
                    <h1>@Html.DisplayFor(modelItem => item.ed_name)</h1>
                    <p>@Html.DisplayFor(modelItem => item.ed_surname)</p>
                    <p>@Html.DisplayFor(modelItem => item.ed_phone)</p>
                </div>
            }

            <div class="col-sm-12">
                <input id="email" type="text" class="form-control" style="width: 100% !important; max-width: initial;" name="email" placeholder="write for quick search">

            </div>
        </div>*@


            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Test ID
                            </th>
                            <th>
                                Test name
                            </th>
                            <th>
                                Test desk
                            </th>
                            <th>
                                Position
                            </th>
                            @*<th>
                                Default language
                            </th>*@
                            <th>
                                Editor
                            </th>
                            @*<th>
                                Start
                            </th>
                            <th>
                                End
                            </th>*@
                            <th>
                                  Published
                            </th>
                            @*<th>
                              TT limit
                            </th>
                            <th>
                               pass limit
                            </th>
                            <th>
                               Time Limit
                            </th>*@
                            <th></th>
                        </tr>
                    <tbody>
                        @foreach (var item in Model.Tests.Models)
    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.t_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.t_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.t_desc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.t_po)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.t_def_lng)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.t_ed)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.t_start)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.t_end)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.t_is_published)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.t_tt_limit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.t_pass_limit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.t_time_limit)
                            </td>*@
                            <td>
                                <ul class="nav nav-pills nav-stacked">

                                    @Html.ActionLink("Edit", "EditTest", new { id = item.t_id });
                                    @Html.ActionLink("Delete", "DeleteTest", new { id = item.t_id })
                                </ul>

                            </td>

                        </tr>
}
                    </tbody>
                </table>
            </div>






            @*<div class="col-sm-6">
                @foreach (var item in Model.Tests.Models)
        {

            <div id="section1">
                <h1>@Html.DisplayFor(modelItem => item.t_name)</h1>
                <p>@Html.DisplayFor(modelItem => item.t_desc)</p>
            </div>
}

                <div class="col-sm-12">
                    <input id="email" type="text" class="form-control" style="width: 100% !important; max-width: initial;" name="email" placeholder="write for quick search">

                </div>
            </div>*@
        </div>
    </div>

    @*<div class="jumbotron">

        <div class="col-md-4">
            <p><a href="http://asp.net" class="btn btn-primary btn-lg btn-block">Edit</a></p>
        </div>

        <div class="col-md-4">
            <p><a href="http://asp.net" class="btn btn-primary btn-lg btn-block">Delete</a></p>
        </div>

        <div class="col-md-4">
            <p><a href="http://asp.net" class="btn btn-primary btn-lg btn-block">Position</a></p>
        </div>

        <h1> </h1>

    </div>*@

</body>