@model IEnumerable<ZespolRProject.Models.Position>

@{
    ViewBag.Title = "Managing positions";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body { background-image: url("http://365psd.ru/images/backgrounds/bg-lightl-889.jpg"); background-color: #cccccc; position: relative; } /*background: rgba(150, 68, 207, 0.44) url(C:\Users\Влад\Desktop\1.jpg); /* Цвет фона и путь к файлу */ */ /*color: #fff; /* Цвет текста */ ul.nav-pills {
        top: 20px;
        position: fixed;
    }

    div.col-sm-9 div {
        height: 250px;
        font-size: 28px;
    }

    #section1 {
        color: #fff;
        background-color: #1d7ae5;
    }

    #section2 {
        color: #fff;
        background-color: #1d7ae5;
    }

    #section3 {
        color: #fff;
        background-color: #1d7ae5;
    }
</style>

<style>
    .jumbotron {
        background-image: url("https://i.imgur.com/6E0HH40.jpg");
    }
</style>

<div class="jumbotron">

    <div class="container">
        <div class="col-md-4">
            <h4>Username @System.Web.HttpContext.Current.User.Identity.Name</h4>
            <h4>Status-Moderator</h4>
        </div>
        <div class="col-md-offset-5">
            <h3>Test search</h3>
        </div>
    </div>
    <h1> </h1>
    <div class="row">
        <div class="col-sm-12">
            <input id="email" type="text" class="form-control" style="width: 100% !important; max-width: initial;" name="email" placeholder="Test name ">

        </div>


    </div>


</div>

<div class="jumbotron">

    <div class="col-md-4">
        <p><a href="~/Moderator/Index" class="btn btn-primary btn-lg btn-block">Managing redactors</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="~/Moderator/Requests" class="btn btn-primary btn-lg btn-block">Redactor requests</a></p>
    </div>

    <div class="col-md-4">
        <p><a href='@Url.Action("Position", "Moderator")' class="btn btn-primary btn-lg btn-block">Managing positions</a></p>
    </div>

    <h1> </h1>

</div>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Position ID
                            </th>
                            <th>
                                Position name
                            </th>
                            <th>
                                Position description
                            </th>
                            <th>
                                Is active?
                            </th>
                            <th></th>
                        </tr>
                    <tbody>
                        @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.po_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.po_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.po_desc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.po_isActive)
                            </td>
                            <td>
                                <p><a href='@Url.Action("EditPosition", "Moderator", new { id = item.po_id })' class="btn btn-success btn-sm">Edit</a></p>
                            </td>
                        </tr>
}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="jumbotron">

        <div class="col-md-12">
            <p><a href='@Url.Action("CreatePosition", "Moderator")' class="btn btn-primary btn-lg btn-block">Create position</a></p>
        </div>

        <h1> </h1>

    </div>

</body>


