@model ZespolRProject.Models.Test
@{
    ViewBag.Title = "Home Page";
}


<style>
    body {
        background-image: url("http://365psd.ru/images/backgrounds/bg-light-4837.png");
        background-color: #cccccc;
    }
    /*background: rgba(150, 68, 207, 0.44) url(C:\Users\Влад\Desktop\1.jpg); /* Цвет фона и путь к файлу */ */
    /*color: #fff; /* Цвет текста */

</style>

<style>
    .jumbotron {
        background-image: url("http://365psd.ru/images/backgrounds/bg-lightl-889.jpg");
    }
</style>

<div class="jumbotron">

    <div class="container">
        <div class="col-md-4">
            <h4>Username @System.Web.HttpContext.Current.User.Identity.Name</h4>
            <h4>Status-Redactor</h4>
        </div>
        <div class="col-md-offset-5">
            <h3>Test search</h3>
        </div>


    </div>

    <h1> </h1>
    <div class="row">
        <div class="col-sm-12">
            <input id="email" type="text" class="form-control" style="width: 100% !important; max-width: initial;" name="email" placeholder="Test name ">

        </div>


    </div>


</div>

<div class="jumbotron">

    <div class="col-md-4">
        <p><a href="~/Redaktor/CreateTest" class="btn btn-primary btn-lg btn-block">Create Test </a></p>
    </div>

    <div class="col-md-4">
        <p><a href="~/Redaktor/MyTests" class="btn btn-primary btn-lg btn-block">My Tests</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="~/Redaktor/TestScore" class="btn btn-primary btn-lg btn-block">Test Scores</a></p>
    </div>
    <h1> </h1>

</div>

<div class="row">
    <div class="col-sm-2">
        <div class="row">

            <div class="col-sm-8">

                <p><a class="btn btn-danger" href="http://go.microsoft.com/fwlink/?LinkId=301865">Download Test</a></p>

            </div>

            <div class="col-sm-4">
                <h6>PDF,Exel</h6>
            </div>
            @*<div class="col-md-3">
                    <h6></h6>
                </div>*@
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group btn-group-justified">
                    <p>  <a href="#" class="btn btn-success">Add question</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group btn-group-justified">
                    <p>  <a href="#" class="btn btn-success" onclick="findOnWikipedia(window.getSelection().toString())">Find on Wikipedia</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group btn-group-justified">
                    <p>  <a href="#" class="btn btn-success" onclick="findASynonym(window.getSelection().toString())">Find a synonym</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class=" dropdown ">
                    <button class="btn btn-success dropdown-toggle btn-group-justified" type="button" data-toggle="dropdown">
                        Select Text language
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">English</a></li>
                        <li><a href="#">Polish</a></li>
                        <li><a href="#">Russian</a></li>
                        <li><a href="#"> Ukraine</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="checkbox">
            <label><input type="checkbox" value="">Save test pattern</label>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="btn-group btn-group-justified">
                    <p>  <a href="#" class="btn btn-danger">Publish a test</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Test Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.t_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.t_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Test Description", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.t_desc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.t_desc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Test Position", "Test Position", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("t_po", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.t_po, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.Label("Editor", "Editor", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("t_ed", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.t_ed, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create Test" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<script>
    function findOnWikipedia(text) {

        if (!isNullOrWhiteSpace(text)) {
            var URL = 'https://www.wikipedia.org/wiki/';

            URL += text;

            var tab = window.open(URL, '_blank');
            tab.focus();

        } else {
            showPopup();
        }

    }

    function findASynonym(text) {

        if (!isNullOrWhiteSpace(text)) {
            var URL = 'http://www.thesaurus.com/browse/';

            URL += text;
            URL += "?s=t"


            var tab = window.open(URL, '_blank');
            tab.focus();
        } else {
            showPopup();
        }
    }

    function isNullOrWhiteSpace(str) {
        return (!str || str.length === 0 || /^\s*$/.test(str))
    }

    function showPopup() {
        var popup = document.getElementById("selectTextToFindPopup");
        popup.classList.toggle("show");
    }
</script>
