@*@model ZespolRProject.Models.Answer

@{
    ViewBag.Title = "EditAnswer";
}
<style>
    body {
        background-image: url("http://365psd.ru/images/backgrounds/bg-light-4837.png");
        background-color: #cccccc;
    }
    /*background: rgba(150, 68, 207, 0.44) url(C:\Users\Влад\Desktop\1.jpg); /* Цвет фона и путь к файлу */ */
    /*color: #fff; /* Цвет текста */
</style>

<style>
    .jumbotron {
        background-image: url("http://365psd.ru/images/backgrounds/bg-lightl-889.jpg");
    }
</style>

<div class="jumbotron">

    <div class="container">
        <div class="col-md-4">
            <h4>Username</h4>
            <h4>Status-Redactor</h4>
        </div>
        <div class="col-md-offset-5">
            <h3>Test search</h3>
        </div>


    </div>

    <h1> </h1>
    <div class="row">
        <div class="col-sm-12">
            <input id="email" type="text" class="form-control" style="width: 100% !important; max-width: initial;" name="email" placeholder="Test name ">

        </div>


    </div>


</div>

<div class="jumbotron">

    <div class="col-md-4">
        <p><a href="~/Redaktor/CreateTest" class="btn btn-primary btn-lg btn-block">Create Test </a></p>
    </div>

    <div class="col-md-4">
        <p><a href="~/Redaktor/MyTests" class="btn btn-primary btn-lg btn-block">My Tests</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="~/Redaktor/TestScore" class="btn btn-primary btn-lg btn-block">Test Scores</a></p>
    </div>
    <h1> </h1>

</div>



<body>
   @using (Html.BeginForm())
   {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.a_id)

        <div class="form-group">
            @Html.LabelFor(model => model.a_q, "Question number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("a_q", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.a_q, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.a_body, "Answer body", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.a_body, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.a_body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
   }


</body>

<h3>   </h3>
<p>    </p>*@
