@model IEnumerable<ZespolRProject.Models.Answer>


}



<style>
    body {
        background-image: url("http://365psd.ru/images/backgrounds/bg-light-4837.png");
        background-color: #cccccc;
    }
    /*background: rgba(150, 68, 207, 0.44) url(C:\Users\Влад\Desktop\1.jpg); /* Цвет фона и путь к файлу */ */
    /*color: #fff; /* Цвет текста */
</style>

<style>
    .jumbotron {
        background-image: url("http://365psd.ru/images/backgrounds/bg-lightl-889.jpg");
    }
</style>

<div class="jumbotron">

    <div class="container">
        <div class="col-md-4">
            <h4>Username</h4>
            <h4>Status-Redactor</h4>
        </div>
        <div class="col-md-offset-5">
            <h3>Test search</h3>
        </div>


    </div>

    <h1> </h1>
    <div class="row">
        <div class="col-sm-12">
            <input id="email" type="text" class="form-control" style="width: 100% !important; max-width: initial;" name="email" placeholder="Test name ">

        </div>


    </div>


</div>

<div class="jumbotron">

    <div class="col-md-4">
        <p><a href="@Url.Action("CreateAnswer", "Redaktor", new { id = @ViewBag.iD })" class="btn btn-primary btn-lg btn-block">Create Answer </a></p>
    </div>

    <div class="col-md-4">
        <p><a href="~/Redaktor/MyTests" class="btn btn-primary btn-lg btn-block">My Tests</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="~/Redaktor/TestScore" class="btn btn-primary btn-lg btn-block">Test Scores</a></p>
    </div>
    <h1> </h1>

</div>

<div class="row">
    <div class="col-sm-2">
        <div class="row">

            <div class="col-sm-8">

                <p><a class="btn btn-danger" href="http://go.microsoft.com/fwlink/?LinkId=301865">Download Test</a></p>

            </div>

            <div class="col-sm-4">
                <h6>PDF,Exel</h6>
            </div>
            @*<div class="col-md-3">
                    <h6></h6>
                </div>*@
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group btn-group-justified">
                    <p>  <a href="#" class="btn btn-success">Find on Wikipedia</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group btn-group-justified">
                    <p>  <a href="#" class="btn btn-success">Find a synonym</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class=" dropdown ">
                    <button class="btn btn-success dropdown-toggle btn-group-justified" type="button" data-toggle="dropdown">
                        Select Text language
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">English</a></li>
                        <li><a href="#">Polish</a></li>
                        <li><a href="#">Russian</a></li>
                        <li><a href="#"> Ukraine</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="checkbox">
            <label><input type="checkbox" value="">Save test pattern</label>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="btn-group btn-group-justified">
                    <p>  <a href="#" class="btn btn-danger">Publish a test</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <table class="table">
            <thead>
                <tr>
                    <th>Wrong answers</th>
                </tr>
            </thead>


            @foreach (var item in Model)
            {
                <tbody>
                    <tr class="success">
                        <td>
                            @Html.DisplayFor(modelItem => item.a_body)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditAnswer", new { id = item.a_id }) |
                            @Html.ActionLink("Delete", "DeleteAnswer", new { id = item.a_id })
                        </td>
                    </tr>

                </tbody>
            }
        </table>
    </div>

</div>

